# exclude .vs folder
/.vs
# exclude the work folder
/.work
# exclude solution and web.config
*.sln
*.suo
[Ww]eb.config

# temporary page
countdown.htm
assets/countdown.js
beta.htm
assets/beta.js
assets/beta.wasm