:root {color-scheme: light dark;}
html { font-family: "Segoe UI","Helvetica","Arial", sans-serif; font-size:100%; }
body { display: flex; flex-direction: column; margin:0; padding:0; }
html,body { height:100%; }
ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,hgroup,p,blockquote,figure,form,fieldset,input,textarea,legend,pre,abbr,button { margin:0; padding:0; }
pre,code,address,caption,th,figcaption { font-size:1em; font-weight:normal; font-style:normal; }
fieldset,iframe,img { border:0; }
caption,th { text-align:left; }
table { border-collapse:collapse; border-spacing:0; }
pre {margin: 12pt 0;}
code, .code {font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace; font-size: 10pt;
  background-color: #f3f3f3; border: solid 1px #ddd; border-radius: 2pt; padding: 2pt 4pt;}
noscript div {border: solid 1px #c20; color: #c20; margin: 0 0 8pt 0; padding: 8pt;}
h1 { color: #222; font-size:1.2rem; }
textarea { font-family:"SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace; }
button { background: #eee; border: solid 1px #aaa; border-radius: 3px; color: #333; padding: 2pt 4pt; }
button:hover { background: #e3e3e3; color: #000; }
button:focus { background: #adf; color: #000; border-color: #37a; }
.main-content { flex: 1 0 auto; }
.page-wide { margin: 0; padding: 0; }
.content { margin:0 auto; max-width:700px; padding: 16pt 4pt 0 4pt; }
.header { background: #444; font-size:0.8rem; }
header {padding: 8pt 0; display: grid; }
.site-menu-btn {
  background: none; border: none;
  cursor: pointer;
  display: block;
  padding: 4pt;
  text-align: center;
  max-width: 23pt;}
.site-menu-btn:hover, .site-menu-btn:focus { background:none; border:none;}
.site-menu-btn div { width: 20pt; height: 3pt; background-color: #aaa; margin: 3pt 0; transition: background-color 1s;}
.site-menu-btn:hover div, .site-menu-btn:focus div { background-color: #fff; box-shadow: inset 0 0 2pt 0 #07a;}
.footer { flex-shrink: 0; background: #333; color:#aaa; font-size: 0.7rem; text-align: center; padding: 4pt;}
.footer b {background: #5252a0; color: #def; font-weight:normal; padding:0 2pt; border-top-right-radius: 4pt;}
.footer:hover b {color: #fff;}
.site-logo { color: #aaa; font-size:1.2rem; font-weight: bold; text-decoration:none; transition: color 1s;}
.site-logo:hover { color: #fff; }

.site-nav { display: none;
  background: #333; border-bottom: solid 2px #f90; box-shadow: 0 5px 5px rgba(3,3,3,0.4);
  padding: 4pt 0; line-height: 2;
  position: absolute; left: 0; right: 0; margin: 0 auto;
  width: 100vw;}
.site-nav-top-item { display: block; margin: 4pt 8pt; padding: 2pt 8pt; white-space: nowrap; font-size: 0.9rem;}
.site-nav-top-item:hover, .site-nav-top-item:active { background: #777; }
.site-nav-top-item a:link,
.site-nav-top-item a:visited { color: #ccc; text-decoration: none; }
.site-nav-top-item a:hover,
.site-nav-top-item a:active { color: #fff; }
.site-nav-top-item a:focus { color: #fff; outline: none; text-decoration: underline;}
.site-nav-header {color: #d80; margin: 0 8pt; padding: 0;}
.install-app-block {border-top:solid 1px #777; margin: 4pt 8pt; padding-top: 8pt;}
.install-app-block button {background:#04a; border: solid 1px #06f; border-radius:4px; color: #fff; padding: 4pt 8pt;}
.install-app-block button:hover, .install-app-block button:focus {background: #06c;}
.install-app-block button:active {transform:translateY(2px);}

.page-content h1 {font-weight: normal; color: #07a;}
.page-content h2 {font-size: 1.2rem; color: #07a; font-weight: normal; margin: 12pt 0 0 0;}
.page-content h3 {font-size: 1rem; margin: 8pt 0 0 0;}
.page-content p {color: #444; margin: 8pt 0;}
.page-content a:link, .page-content a:visited {color:#039;}
.page-content a:active, .page-content a:hover {color:#07c;}

#incompatible-browser {border: solid 1px #c00; color: #c00; padding: 8pt; margin: 8pt 0; display: none;}
.page-content a.outer-link:link,
.page-content a.outer-link:visited {color: #444;}
.page-content a.outer-link:active,
.page-content a.outer-link:hover {color: #000;}

.page-field-name {color:#444; font-size: 0.8rem; margin:2pt 0;}
.page-message {font-size:0.9rem; margin: 8pt 0; padding: 8pt; border-width: 1px; border-style: solid; border-radius: 3px;}
.page-message.page-message--info {background: #def; border-color: #07a;}
.page-message.page-message--warning {background: #fec; border-color: #a81;}
.page-message.page-message--error {background: #fcc; border-color: #c44;}

.form-button {background-color: #707070; color: #fff; cursor: pointer;
  border: solid 1px #444; border-radius: 2pt; box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5), 1px 1px 2px 0 rgba(255,255,255,0.5) inset;
  margin: 0 4pt; outline: none; padding: 2pt 8pt; text-align: center; width: auto;}
.form-button:hover {background-color:#494949; color: #fff;}
.form-button:active {background-color:#444; box-shadow: 0 0 5px 0 rgba(0,0,0,0.7), 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  transform: translateY(1px);}
.form-button:focus {background-color: #bbb; border-color: #777; color: #000;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.9), 1px 1px 2px 0 rgba(255,255,255,0.5) inset;}

.page-tags {margin: 32pt 0 16pt 0; font-size:12px; font-size: .7rem; line-height: 2;}
.page-tags b {color: #049; margin-right: 8pt; font-weight: normal;}

header.content {grid-template-columns: 35px 1fr; padding-top: 8pt;}
.site-title {display: flex; align-items: center; justify-content:center; padding-right: 35px;}

@media (prefers-color-scheme: dark) {
  body {background: #222;}
  noscript div {color: #faa; border-color: #f44;}
  code, .code {background-color: #505050; color: #eee; border-color: #606060;}
  button { background: #555; border-color: #777; color: #eee; }
  button:hover { background: #777; color: #fff; border-color: #999; }
  button:focus { background: #777; color: #fff; border-color: #aaa; }
  .page-content h1 {color: #bdf;}
  .page-content h2 {color: #ddd;}
  .page-content p {color: #ccc;}
  .page-content a:link, .page-content a:visited {color:#7bf;}
  .page-content a:active, .page-content a:hover {color:#def;}

  .page-field-name {color:#999;}
  .page-content a.outer-link:link,
  .page-content a.outer-link:visited {color: #ccc;}
  .page-content a.outer-link:active,
  .page-content a.outer-link:hover {color: #aaa;}

  .page-message.page-message--info {background: #048;}
  .page-message.page-message--warning {background: #740;}
  .page-message.page-message--error {background: #400;}

  .page-tags b {color: #cb8;}
}
