html {font-family: "Segoe UI","Helvetica","Arial",sans-serif;font-size:100%;}
body {margin:0;padding:0;}
ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,hgroup,p,blockquote,figure,form,fieldset,input,textarea,legend,pre,abbr,button{margin:0;padding:0;}
pre,code,address,caption,th,figcaption{font-size:1em;font-weight:normal;font-style:normal;}fieldset,iframe,img{border:0;}
caption,th{text-align:left}table{border-collapse:collapse;border-spacing:0}
h1 {color: #aaa; font-size:1.2rem;}
h1::after {content: ' '; border-bottom: 4pt solid #07e; display: block; width: 3em; margin:4pt 0 0 0;}
textarea {font-family:"SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;}
button {background: #eee; border: solid 1px #aaa; border-radius: 3px; color: #333; padding: 2pt 4pt;}
button:hover {background: #e3e3e3; color: #000;}
button:focus {background: #850; color: #fff; border-color: #730;}

.page-wide {margin: 0; padding: 0;}
.content {margin:0 auto; max-width:700px; padding: 16pt 4pt 0 4pt;}
.header {background: #444; font-size:0.8rem;}
.footer{background: #444; color:#999; font-size: 0.7rem; position: fixed; text-align: center; padding: 4pt; bottom: 0px;width: 100%;}